@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url("font/Poppins-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: url("font/Poppins-Bold.ttf") format('ttf');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url("font/Poppins-Thin.ttf") format('ttf');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("font/Poppins-ExtraBold.ttf") format('ttf');
}